@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

:root {
    --font-text-montserrat: 'Montserrat', sans-serif;
    --font-text-dancing: 'Dancing Script', cursive;
}

/* reset */
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main styling */
html,
body {
    font-family: var(--font-text-montserrat);
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
}
p {
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.5em;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* utility class */
.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}
.large {
    font-size: 1.25rem;
}
.display-1 {
    font-size: 5.5rem;
    font-weight: 300;
}
.display-2 {
    font-size: 3.5rem;
    font-weight: 300;
}
.display-3 {
    font-size: 3rem;
    font-weight: 300;
    text-transform: capitalize;
}
.btn {
    display: inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 50px;
    width: 200px;
    text-align: center;
}
.btn-red-outline {
    background-color: #dd2e0d;
    border: 2px solid #fff;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
}
.btn-red {
    background-color: #dd2e0d;
    border: 2px solid #dd2e0d;
    color: #fff;
    text-transform: uppercase;
}
.btn-outline {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
}
/* mainheader */
.mainheader {
    background-image: url('../img/showcase.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.mainheader-no {
    background-image: url('../img/no.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
/* navbar */
.navbar {
    padding: 30px 0 20px 0;
    color: #fff;
}
.navbar-red {
    padding: 30px 0 20px 0;
    background-color: #a3000d;
    color: #fff;
}
.flex {
    display: flex;
    justify-content: space-between;
}
.menu {
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.menu__link {
    color: #fff;
    display: inline-block;
}
.logo {
    font-family: var(--font-text-dancing);
}
.showcase {
    padding: 200px;
    color: #fff;
    text-align: center;
}
.showcase__parrafo {
    padding: 15px 0;
}
/* valentine */
.valentine {
    background-color: #a3000d;
    padding: 80px 0;
    color: #fff;
}
.valentine-row {
    display: flex;
}
.valentine-row-text {
    padding-right: 40px;
}
.valentine-row-btn {
    display: flex;
    padding-top: 10px;
}
.valentine-row-btn-yes,
.valentine-row-btn-no {
    padding: 20px;
}

/* yes */
.yes {
    padding: 100px 0;
}
.yes-row {
    display: flex;
}
.yes-row-box {
    padding: 15px;
}
.yes-img {
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
}
.yes-row-box a {
    display: block;
    margin: 0 auto;
}
/* dinner, git & show */
.dinner,
.gift,
.show {
    padding: 100px 0;
}
.dinner-row,
.gift-row,
.show-row {
    display: flex;
}
.dinner-row img,
.gift-row img,
.show-row img {
    width: 600px;
    border-radius: 20px;
}
.dinner-row-text,
.gift-row-text,
.show-row-text {
    padding-left: 30px;
}
/* footer */
.mainfooter {
    background-color: #a3000d;
    text-align: center;
    padding: 30px;
}

